@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import "normalize.css";
@import "vars";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background: #ffffff;
  color: var(--base-text-color);
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}